body{
    margin: 0;
}
.con1{
    display: flex;
}
.item1{
    margin-top: 20px;
    margin-left: 15px;
}
#item2{
    margin-left: 1000px;
    margin-top: 25px;
}
.con2{
    display: flex;
    flex-wrap: wrap;
}
.item3{
    width: 25%;
}
.con3{
    display: flex;
    justify-content: center;
}
.item4{
    padding: 12px;
}
.item4:hover{
    background-color: lightgray;
}
.item{
    padding-left: 15px;
    padding-right: 15px;
}
.con4{
    width: 45%;
    padding-left: 340px;
    padding-right: 340px;
    padding-top: 30px;
    background-color: rgb(97, 97, 97);
}
.item5{
    text-align: center;
    margin-bottom: 40px;
    color: white;
}
.item6{
    width: 100%;
    color: white;
}
.item7{
    color: white;
}
.item8{
    color: white;
}
.con41{
    background-color: white;
    padding: 0.1px;
    margin-top: 15px;
    margin-bottom: 40px;
}
.item9{
    color: white;
}
.item10{
    color: white;
}
.item11{
    width: 100%;
}
.item12{
    padding: 13px 25px;
    margin-top: 20px;
    color: black;
    border: 0px;
    margin-bottom: 20px;
}
.item12:hover{
    color: white;
    background-color: black;
}
.item13{
    color: white;
}
.con42{
    text-align: center;
    width: 48%;
}
.con5{
    width: 48%;
}
.item14{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: -1px;
}
.item15{
    text-align: center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -18px;
    border-bottom: 1px solid rgb(241, 240, 240);
}
.item16{
    background-color: lightgray;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: -20px;
}
.item17{
    margin-left: 33%;
    border: 0;
    padding: 15px 25px;
}
.item17:hover{
    background-color: rgb(7, 7, 7);
    color: white;
}